<!DOCTYPE html>
<html>

<head>
  <%- include ../partials/head.ejs %>
</head>


<body>
  <header>
    <%- include ../partials/header.ejs %>
  </header>
  
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">Create a New Pin <i class="fa fa-thumb-tack"></i></div>
      <div class="panel-body">
        <form name="addPin" method="post" action="/pins">
          <input type="text" name="title" placeholder="Title" class="form-control">
          <input type="text" name="image" placeholder="Image" class="form-control">
          <input type="text" name="source" placeholder="Source of Image" class="form-control">
          <textarea rows="3" name="description" placeholder="Why do you want to pin this?" class="form-control" ></textarea>
          <button type="submit" class="btn btn-info btn-lg form-control">Pin It</button>
        </form>
      </div>
    </div>
  </div>
  
  
  
  
</body>

</html>