<!DOCTYPE html>
<html>

<head>
  <%- include ../partials/head.ejs %>
</head>


<body>
  <header>
    <%- include ../partials/header.ejs %>
  </header>
  
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">All Boards</div>
      <div class="panel-body">
        <% if (boards.length > 0) { %>
          <% boards.forEach(function(board) { %>
            <h3><a href="/boards/<%= board.id %>"><%= board.boardName %></a></h3>
          <% }); %>
        <% } else { %>
          There are no boards yet.
        <% } %>
      </div>
    </div>
  </div>
  
  
  
  
</body>

</html>